@import "tailwindcss";
@plugin "daisyui";


a.active{
    border-bottom: 2px solid blue;
    padding-bottom: 5px;
}

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');


.hind-siliguri {
  font-family: "Hind Siliguri", sans-serif;
  
  font-style: normal;
}




.gradient-bg{
  
  background: linear-gradient(to bottom right,  #0f0824, #1f0629, #330435) !important;
  font-size: 20px;
}
.error-gradient-bg{
  
  background: linear-gradient(to bottom right,  #420000, #8a0001, #fb0000) !important;
  font-size: 20px;
}


